@use 'root';

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    padding-top: 23px;
    padding-bottom: 23px;
    border-radius: 12px;
    background-color: root.$secondary50 ;
}

.tab-bottom {
    margin-top: auto;
}